<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-md-center">
  <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="dec()">logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="home">
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="row text-center">
          <div class="col-12 ">
            <div class="input-group myform">
            </div>
          </div>
        </div>

        <form [formGroup]="homeForm">
          <input class="formulaire form-control mr-sm-2" formControlName="todo" placeholder="Add a todo">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="addTodo()" type="submit" hidden="hidden">Add</button>
        </form>

        <div *ngFor="let todo of todos; let i = index" id={{i}}>
          <div class="card">
            <div class="card-body">
              <h5 id="checked" class="card-title"><input (change)="FieldsChange(i, $event)" value="angular" type="checkbox" />
                {{todo.content }}
                <button type="button" class="close" aria-label="Close" (click)="deleteTodo(i)">
                  <span aria-hidden="true">&times;</span>
                </button></h5>

              <h6 class="card-subtitle mb-2 text-muted">{{todo.date}}</h6>

            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
